<div class="search-container">
    <div class="container">
      <form action="" class="search-form">
        <label for="search" class="sr-only"></label>
        <input 
          type="search" 
          id="search" 
          class="search-input" 
          name="search" 
          placeholder="Buscar receitas..."
        >
        <button type="submit" class="search-button">
          <i class="fa fa-search" aria-hidden="true"></i>
          <span class="sr-only">Buscar</span>
        </button>
      </form>
    </div>
  </div>