<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'recipes/partials/head.html' %}
</head>
<body>
  {% include 'recipes/partials/header.html' %}
  {% include 'recipes/partials/search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">
      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img 
            src="https://placehold.co/600x400/png" 
            alt="Imagem temporária da receita"
          >
        </div>
        <h1>oi</h1>
      </div>
    </div>
  </main>
</body>
</html>
